@model CourseDisplayModel
@{

}
<div class="my-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="categoryId">Categories</label>
            <select class="form-select" id="categoryId" name="categoryId">
                <option selected>Category</option>
                @foreach (var category in Model.Categories)
                {
                    <option selected="@(category.Id == Model.CategoryId)" value="@category.Id">@category.CategoryName</option>
                }
            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search by title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Sarch by title">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/Index" class="btn btn-dark">Reset</a>
        </div>
    </form>
</div>

<div class="w-100 mt-4 d-flex flex-wrap ">
    @foreach (var course in Model.Courses)
    {
        <div class="card mx-3 mb-4" style="width: 11rem;">
            @if (string.IsNullOrEmpty(course.Image))
            {
                <img style="width:100%;height:180px" src="/images/NoImage.png" class="card-img-top" alt="...">

            }
            else
            {
                <img style="width:100%;height:180px" src="/images/@course.Image" class="card-img-top" alt="...">
            }
            <div class="card-body">
                <h5 class="card-title">@course.CourseName</h5>
                <p class="card-text">
                    <b>Category: </b>@course.CategoryName <br />
                    <b>Instructor: </b>@course.InstructorName <br />
                    <b>CourseFee: </b>@course.CourseFee
                    @* <br/> <b>@course.SeatCount</b> *@
                </p>
                @if (course.SeatCount > 0)
                {
                    <button type="button" onclick="add(@course.Id)" class="btn btn-primary">Add to cart</button>
                }
                else
                {
                    <span style="benrollment: 1px solid;padding: 5px 8px;color: red;benrollment-radius: 5px;">Out of seats</span>
                }
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        async function add(courseId) {
             var usernameEl = document.getElementById("username");
        if(usernameEl==null){
            window.location.href = "/Identity/Account/Login";
          //var username=usernameEl.innerText;
          //  if(username.length<1){
          //      window.location.href="/Identity/Account/Login";
          //  }
        }
            try {
                var response = await fetch(`/EnrollmentCart/AddItem?courseId=${courseId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}


